*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(transparent, #213444);
    font-family: Arial, Helvetica, sans-serif;

}
.nav{
    background-color: #fff;
}

nav ul{
    width: 100%;
    list-style: none;   
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    height: 50px;
}
nav {
    height: 100%;
    padding: o 30px;
    text-decoration: none;
    display: flex;
    align-self: center;
    color: #000;
}
