*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    1
    background: linear-gradient(red, yellow);
    
    padding: 10px 10px;
    overflow: hidden;
}