<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Definir nova senha    </h2>
    {% if validlink %}
        <form action="" method="post">{%csrf_token%}
            {{form.as_p}}
            <button type="submit">Salvar</button>
        </form>
    {% else %}
        <p style="color: red;">Token de segurança invalido</p>
        <p>
            <a href="{% url 'password_reset' %}">Redefinir um novo toekn de redefinição de senha</a>
        </p>
    {% endif %}
</body>
</html>