body{
    background-color: #eee;
}
.chat-list{
    padding: 0;
    font-size: 8.rem;
}
.chat-list li{
    margin-bottom: 10px;
    overflow: auto;
    color: #fff;
}
.chat-list .chat-img{
    float: left;
    width: 48px;
}
.chat-list .chat-img img{
    -
}