
.chat-list{
    padding: 0;
    
}
.chat-list li{
    margin-bottom: 10px;
    overflow: auto;
    color: black;
}
.chat-list .chat-img{
    float: left;
    width: 48px;
}
.chat-list .chat-img img{   
    border-radius: 50%;
    width: 100%;
}
.chat-list .cha-message{
    display: inline-block;
    position: relative;
}
p{
    padding-top: 10px;
    padding-left: 4 px;
    width: 50%;
    
}