<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chatMulher.css">


    <title>Chat</title>
</head>

<body>
    <div class="container content">
        <div class="row">

            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-header">Chat</div>
                    <div class="card-body heigt-3">
                        <ul class="caht-list">
                            <li class="in">
                                <div class="chat-img">
                                    <img src="mulher.png" alt="">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>mensagem que o user pode enviar</h5>
                                    </div>
                                </div>
                            </li>
                            <li class="out">
                                <div class="chat-img">
                                    <img src="mulher.png" alt="">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>minha que o user pode enviar</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>