{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Document</title>
    <style>
        .hero {
            width: 100%;
            min-height: 100vh;
            background-image: url("{% static 'img/empreendedora.png' %}");
        }
    </style>
</head>
<body>
    <div class="hero">
        <nav>
            <img src="{% static 'img/logo.jpg' %}" alt="">
            <ul>
                <li><a href="">Principal</a></li>
                <li><a href="">Motivação</a></li>
                <li><a href="">Ia</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>