{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"></head>
<body>
        <nav>
            <ul>
                <li class="desktopMenu"><a href="">Principal</a></li>
                <li class="desktopMenu"><a href="">Sobre</a></li>
                <li class="desktopMenu"><a href="">Ia das Meninas</a></li>
                <li class="desktopMenu"><a href="">Grupo das Meninas</a></li>
                <li class="desktopMenu"><a href="">Login</a></li>
                <li><a href="">Cadastro</a></li>
                <li class="menu-button" onclick="showSidebar()"><a><img src="{% static 'img/burger-menu-svgrepo-com.svg' %}"  height="40px" alt=""></a></li>
            </ul>
            <ul class="sidebar">
                <li onclick="hideSidebar()"><a href=""><img src="{% static 'img/x-symbol-svgrepo-com.svg' %}" height="30px" alt=""></a></li>
                <li><a href="">Principal</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Ia das Meninas</a></li>
                <li><a href="">Grupo das Meninas</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Cadastro</a></li>
                p
            </ul>
            

        </nav>
        <script>
            function showSidebar(){
                document.querySelector('.sidebar').style.display='flex';
            }
            function hideSidebar(){
                document.querySelector('.sidebar').style.display='none';
            }
        </script>
</body>
</html>