<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link rel="stylesheet" href="style3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-secondary ">
    <div class="container bg-body-secondary ">
      <a class="navbar-brand" href="#">Maria</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chat Inteligente</a>
          </li>


        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Busca</button>
          <button type="button" class="btn btn-link">Entra</button>
          <button type="button" class="btn btn-link">Cadastro</button>

        </form>
      </div>
    </div>
  </nav>

  <section class="hero-section py-5 bg-success text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h2>A denúncia é essencial para uma sociedade justa e segura. Denunciar ajuda a combater injustiças e abusos,
            promovendo a responsabilização dos culpados e protegendo as vítimas.</h2>
          <p>Lembre-se: sua voz é essencial. Denuncie e faça a diferença!</p>
          <button type="button" class="btn btn-danger">Denuncie</button>
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex justify-content-end">
            <img src="leis.png" class="hero-img">

          </div>
        </div>
      </div>
    </div>
  </section>

  <main>
    <section class="featured">
      <div class="container">
        <h3 class="text-center fw-bold pt-5 pb-3">Lembre-se</h3>
      </div>

      <div class="container ">
        <div class="row g-5">
          <div class="col-12 col-lg-3">
            <div class="card shadow border-0">
              <img src="leis.png" style="width: 100%;" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">Medidas Protetivas de Urgência</h3>
                <p class="card-text">Afastamento do agressor do lar e proibição de contato com a vítima.</p>
                <a href="https://www.tjdft.jus.br/institucional/imprensa/campanhas-e-produtos/direito-facil/edicao-semanal/das-medidas-protetivas-de-urgencia" target="_blank">
                  <button type="button" class=" btn btn-success">Saiba mais</button>                  
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-3">
            <div class="card shadow border-0">
              <img src="leis.png" style="width: 100%;" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">Assistência à Mulher em Situação de Violência</h3>
                <p class="card-text">Garante à mulher acesso a serviços de proteção e apoio, incluindo atendimento médico, psicológico e social.</p>
                <a href="https://help.unhcr.org/brazil/onde-encontrar-ajuda/mulheres/?gad_source=1&gclid=Cj0KCQjwtZK1BhDuARIsAAy2VzuI6SHZnWDBArM1EH-Di-P87ojspqMqc2vLN2LaZF_CHWeYh7W1gKcaAnXYEALw_wcB" target="_blank">
                  <button type="button" class=" btn btn-success">Saiba mais</button>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-3">
            <div class="card shadow border-0">
              <img src="leis.png" style="width: 100%;" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">Responsabilização e Punição do Agressor</h3>
                <p class="card-text">Estabelece que a violência doméstica é crime, sujeito a penas como prisão, além de outras sanções penais, civis e administrativas.</p>
                <a href="https://www.jusbrasil.com.br/artigos/como-responsabilizar-o-agressor-saiba-os-desdobramentos-juridicos-da-violencia-domestica/1908704155#:~:text=Responsabiliza%C3%A7%C3%A3o%20do%20Agressor%3A%20A%20den%C3%BAncia,um%20ato%20de%20empoderamento%20pessoal." target="_blank">
                  <button type="button" class="btn btn-success ">Saiba mais</button>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-3">
            <div class="card shadow border-0">
              <img src="leis.png" style="width: 100%;" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">Atendimento Multidisciplinar</h3>
                <p class="card-text">Estabelece que a mulher em situação de violência deve ser atendida por uma equipe multidisciplinar, incluindo profissionais de psicologia, assistência social e direito, para fornecer suporte integral e contínuo.</p>
                <a href="https://www.nucleoalma.com.br/blog/tratamento-multidisciplinar#:~:text=O%20que%20%C3%A9%20um%20tratamento,para%20a%20doen%C3%A7a%20em%20quest%C3%A3o." target="_blank">
                  <button type="button" class="btn btn-success">Saiba mais</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>


  <section class="how-it-works">
    <div class="container">
      <h2 class="text-dark fw-bold text-center pt-5 pb-2">Ceará Apoia</h2>

      <div class="container py-5 ">
        <div class="row g-5">
          <div class="col-12 col-lg-6 ">
            <div class="shadow-lg p-2 rounded section-how-card flex-colum  justify-content-center">
              <a href="https://desenvolvimentoeconomico.fortaleza.ce.gov.br/component/k2/projeto-mulher-empreendedora.html" target="_blank">
                <span><ion-icon class="icon bg-success" name="search"></ion-icon></span>
              </a>
              <h3 class="fw-bold ">Mulher Empreendedora</h3>
              <p class="how-it-works-text">
                Incentiva o empreendedorismo feminino, oferecendo capacitação, apoio ao microcrédito e realização de feiras para mulheres empreendedoras​.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 ">
            <div class="shadow-lg p-2 rounded section-how-card flex-colum  justify-content-center">
              <a href="https://belt.al.ce.gov.br/index.php/legislacao-do-ceara/datas-comemorativas/itemlist/tag/MULHER%20SEGURA,%20SOCIEDADE%20FORTE" target="_blank">
                <span><ion-icon class="icon bg-success" name="search"></ion-icon></span>
              </a>
              <h3 class="fw-bold ">Mulher Segura</h3>
              <p class="how-it-works-text">
                Foca na prevenção e enfrentamento à violência contra a mulher, com a implementação de equipamentos para atendimento, criação de patrulhas Maria da Penha e formação especializada para a rede de atendimento.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 ">
            <div class="shadow-lg p-2 rounded section-how-card flex-colum  justify-content-center">
              <a href="https://www.ceara.gov.br/2023/11/21/ceara-por-elas-estado-firma-parceria-com-municipios-para-ampliar-rede-de-protecao-e-apoio-as-mulheres/" target="_blank">
                <span><ion-icon class="icon bg-success" name="search"></ion-icon></span>
              </a>
              <h3 class="fw-bold ">Mulher Protagonista</h3>
              <p class="how-it-works-text">
                Promove a equidade de gênero por meio da criação de Organismos de Políticas para Mulheres, fortalecimento da participação feminina em cargos de liderança e desenvolvimento de planos municipais de políticas para as mulheres.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 ">
            <div class="shadow-lg p-2 rounded section-how-card flex-colum  justify-content-center">
              <a href="https://www.tjpr.jus.br/web/cevid/patrulha-maria-penha" target="_blank">
                <span><ion-icon class="icon bg-success" name="search"></ion-icon></span>
              </a>              
              <h3 class="fw-bold ">Patrulha Maria da Penha</h3>
              <p class="how-it-works-text">
                Implementação de viaturas específicas para o atendimento de mulheres em situação de violência, com patrulhamento e acompanhamento das vítimas.
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>


  <section class="testimonials bg-success">
    <div class="container">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container py-5">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="testimonials-card">
                      <img src="logo.jpg" width="150px" class="rounded-circle pb-4">
                      <p class="textmonial-text pb-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia,
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia,
                      </p>
                      <h3 class="textmonial name">governo1</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="container py-5">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="testimonials-card">
                      <img src="logo.jpg" width="150px" class="rounded-circle pb-4">
                      <p class="textmonial-text pb-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia,
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia,
                      </p>
                      <h3 class="textmonial name">governo2</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="container py-5">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="testimonials-card">
                      <img src="logo.jpg" width="150px" class="rounded-circle pb-4">
                      <p class="textmonial-text pb-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia,
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia,
                      </p>
                      <h3 class="textmonial name">governo3</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>



  <footer class="text-dark ">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-lg-4">
          <h3 class="fw-boldpb-3">Endereço</h3>
          <p>Av. Barão de Studart, 598 - Meireles,<br> Fortaleza - CE, 60120-000</p>
          <a href="infovicegovernadoria@gmail.com" class="text-dark">infovicegovernadoria@gmail.com</a>
        </div>
        <div class="maps col-12 col-lg-4">
          <h3 class="fw-boldpb-3">Maps</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26783.30853331746!2d-38.50664802015222!3d-3.730888205260935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c7461c9bfc47c7%3A0xd95f90d8bc87ae1c!2sGabinete%20da%20Vice-Governadoria!5e0!3m2!1spt-BR!2sbr!4v1722110957981!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
        <div class="col-12 col-lg-4">
          <h3 class="fw-boldpb-3">Contato</h3>
          <p>Assessoria de Comunicação/ Ascom	 3459-6107</p>
          <p>Assessoria Jurídica/Asjur	 85 3108-0928	</p>
          <p>Cefin 85 3108-0991	</p>
          <p>Célula Administrativo e de Gestão de Pessoal/Ceage <br> 85 3108-0989	</p>
        </div>

      </div>
    </div>
  </footer>
  <section class="bg-success">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container py-2">
            <div class="row">
              <div class="col-2">
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"> </script>

</body>

</html>